 {{#each this}}
 <li class="gallery__item" data-id="{{id}}">
       
          <div class="gallery__thumb">
            <h2 class="gallery__film-name">{{brend}}</h2>
            <p class="gallery__film-text-about"> {{location}} | {{salesman}}</p>
          </div>
        
      </li>
{{/each}}