 @font-face {
     font-family: 'Stolzl Regular';
     src: url('../fonst/Stolzl-Regular.ttf');
     font-style: normal;
   }
  @font-face {
    font-family: 'Stolzl Medium';
    src: url('../fonst/Stolzl-Medium.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Stolzl Bold';
    src: url('../fonst/Stolzl-Bold.ttf');
    font-style: normal;
  }