:root {
    --main-white-color: #ffffff;
    --sec-grey-bgAndPagination-color: #f7f7f7;
    --upper-line-color: #CBDCFF;
  
    --main-text-color:#2D3132;
    --sec-text-color: #5C5F60;
    --text-accent-color: #ff6b08;
    --btn-accent-color: #ff6b01;
  
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }